@media (min-width: 1025px) {

    .demo-card-square.mdl-card {
    	width: 95vw;
    	height: 400px;
        margin: auto;
    }

    .header-spacer,
    .footer-spacer {
        height: 70px;
    }

    .card-spacer {
        height: 30px;
    }

}