body {
	background: black;
}

body * {
	text-transform: lowercase !important;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button,
.mdl-layout-title {
  color: white;
}

.mdl-card {
    z-index: -1;
}

.mdl-layout__drawer .mdl-layout-title {
    color: black;
}

.blog1 > .mdl-card__title {
    color: #fff;
    background: #AED6F1;
}

.blog2 > .mdl-card__title {
    color: #fff;
    background: #F9E79F;
}

.blog3 > .mdl-card__title {
    color: #fff;
    background: #A3E4D7;
}