@media (max-width: 460px) {

    .blog3 {
        padding-right: 20px;
    }

    .demo-card-square.mdl-card {
    	width: 90vw;
    	height: 250px;
        margin-left: 20px;
    }

    .header-spacer,
    .footer-spacer {
        height: 50px;
    }

    .card-spacer {
        height: 22px;
    }

}