body {
	background: black;
}

body * {
	text-transform: lowercase !important;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button,
.mdl-layout-title {
  color: white;
}

.mdl-card {
    z-index: 1;
}

.mdl-layout__drawer .mdl-layout-title {
    color: black;
}

.blog1 > .mdl-card__title {
    color: #fff;
    background-image: url('blog1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.blog2 > .mdl-card__title {
    color: #fff;
    background-image: url('blog2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.blog3 > .mdl-card__title {
    color: #fff;
    background-image: url('blog3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}